<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gw2spidyApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gw2spidyApi.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://www.gw2spidy.com</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value>/api/{0}/{1}</value>
            </setting>
            <setting name="ApiVersion" serializeAs="String">
                <value>v0.9</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>json</value>
            </setting>
        </Gw2spidyApi.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
